* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Freeman", sans-serif;
}

/********* Header y Navbar **********/

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.container-fluid {
    padding: 0px 12px 0px 12px;
    background-color: black;
    z-index: 1;
}

.logo {
    color: #03FA6E;
    margin: 0px;
    font-size: 3rem;
}

.ulnavegacion {
    display: flex;
    gap: 1.5rem;
    padding: 0px;
    margin: 0px;
    text-align: end;
}

.navbar {
    width: 100%;
    background-color: black !important;
    position: relative;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    color: #03FA6E;
}

.navbar-nav .nav-link.active:hover {
    color: #03FA6E;
}

.navbar-toggler {
    background-color: white;
}

.collapse {
    flex-direction: row-reverse;
}


.nav-link {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    gap: 20px;
}

.nav-link:hover{
    color: #03FA6E;
}

.nav-link.active {
    font-weight: bold;
    color: white;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}a:hover{
    color: #03FA6E;
}

/************ Inicio y otras *************/

.inicio {
    height: 100%;
    background-color: #0D0D0D;
}

.inicioOtras {
    min-height: 75vh;
    background-color: #0D0D0D;
    text-align: center;
}

.inicioOtras h1{
    color: white;
}

.proyectos {
    background-color: #0D0D0D;
}

.inicioOtras {
    min-height: 75vh;
    background-color: #0D0D0D;
}

.inicioOtras h1 {
    color: white;
    padding-top: 20px;
    font-size: 3.5rem;
    text-align: center;
}

.inicioOtras p {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 0px;
    color: white;
}

.secContacto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.redes-dos {
    font-size: 6rem;
    margin: 50px;
}

.paginaError {
    min-height: 75vh;
}

.linkRedes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-principal {
    color: whitesmoke;
    margin: 30px 0px 30px 20px;
    padding-right: 200px;
    width: 40%;
    font-size: 5rem;
}


.contenedor-titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divLogo {
    width: 100%;
}

.imgLogo {
    filter: drop-shadow(0px 0px 25px #03FA6E);
    border-radius: 300px;
    margin-top: 40px;
    margin-right: 400px;
    width: 400px;
    height: 400px;
}

.parrafo-experiencia {
    color: whitesmoke;
    font-size: 1.6rem;
    margin: 70px 0px 50px 20px;
    width: 50%;
}

strong {
    color: #03FA6E;
}

/*************** Sitios ***************/

.sitios {
    background-color: #262626;
    border-radius: 10px;
    margin: 0px 80px 0px 80px;
    height: 100%;
}

.sitios h2 {
    font-size: 2.5rem;
    padding-top: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.divSitios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divSitios a {
    text-align: center;
}

.divSitios img {
    object-fit: cover;
    margin-top: 80px;
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.indumentaria {
    margin-right: 300px;
}

.tejidos {
    margin-left: 300px;
}

.tlou {
    margin-bottom: 50px;
    margin-right: 300px;
}

/****************  Footer ****************/

.footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.ullogos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-left: 0%;
}

.ullogos li {
    list-style: none;
}

.redes {
    font-size: 3rem;
}

.derechos {
    color: white;
}

/***************** Media Querys ******************/

@media screen and (max-width:1400px){
    
    .titulo-principal{
        font-size: 3.5rem;
        padding-right: 50px;
    }

    .imgLogo {
        margin-right: 150px;
        width: 320px;
        height: 320px;
    }
}

@media screen and (max-width:1100px) {
    .titulo-principal {
        font-size: 3.6rem;
    }

    .divSitios img {
        width: 320px;
        height: 200px;
    }

    .imgLogo{
        width: 320px;
        height: 320px;
    }
}

@media screen and (max-width:900px) {
    
    .contenedor-titulo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .titulo-principal{
        width: 90%;
        text-align: center;
    }

    .parrafo-experiencia {
        width: 90%;
        text-align: center;
    }

    .imgLogo {
        margin: 0px;
    }

    .divSitios a {
        width: 300px;
    }

    .divSitios a img {
        margin-right: 0px;
        margin-left: 0px;
    }

    .sitios {
        margin: 0px 50px 0px 50px;
    }
}

@media screen and (max-width:500px) {

    .inicio {
        overflow-x: hidden;
    }

    .titulo-principal {
        color: whitesmoke;
        margin: 30px 0px 30px 20px;
        padding-right: 0px;
        width: 100%;
        font-size: 4rem;
    }

    .contenedor-titulo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imgLogo {
        filter: drop-shadow(0px 0px 25px #03FA6E);
        border-radius: 300px;
        margin-right: 0px;
        margin-top: 40px;
        width: 350px;
        height: 350px;
    }

    .parrafo-experiencia {
        color: whitesmoke;
        font-size: 1.6rem;
        margin: 70px 0px 50px 0px;
        width: 100%;
        text-align: center;
    }

    .ullogos-dos {
        flex-direction: column;
    }

    .secContacto {
        height: 100%;
    }

    .redes-dos {
        font-size: 3.5rem;
        margin: 30px;
    }

    .linkRedes {
        flex-direction: row;
    }

    .sitios {
        background-color: #262626;
        border-radius: 10px;
        margin: 0px 25px 0px 25px;
        height: 100%;
    }

    .sitios h2 {
        font-size: 2.5rem;
        padding-top: 20px;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        flex-wrap: wrap;
    }

    .divSitios a {
        width: 380px;
    }

    .divSitios img {
        width: 370px;
        height: 220px;
    }

    .indumentaria {
        margin-right: 0px;
    }
    
    .tejidos {
        margin-left: 0px;
    }
    
    .tlou {
        margin-bottom: 0px;
        margin-right: 0px;
    }
}
